*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: "Microsoft YaHei";
	min-width: 1060px;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

ul, ul > li{
	list-style: none;

}

.logo{
	float: left;
	padding: 11px 25px;
}

.nav{
	float: right;
	padding-right: 30px;
}


.nav > li{
	padding: 17px 30px;
	border-right: 1px solid #eceef4;
	float: left;
	font-size: 17px;
	color: #6d6e71;
	text-decoration: none;
	cursor: pointer;
	background-color: #fff;
	position: relative;
	transition: background-color 300ms linear, color 300ms linear;
}

.nav > li:last-child{
	border-right: 0; 
}

.nav > li:hover{
	background-color: #209fed;
	color: #fff;
}


.nav > li > div{
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 99;
	background-color: #fff;
	height: auto;
	opacity: 0;
	overflow: hidden;
	transition: height 300ms ease, opacity 300ms ease;
}

.nav > li:last-child > div{
	left: -100px;
}



.nav > li > div > a{
	border: 1px solid #eceef4;
	text-align: left;
	padding: 15px;
	margin-top: -1px;
	color: #6d6e71;
	display: block;
	transition: all 300ms linear;
	width: 200px;
	font-size: 12px;
}


.nav > li > div > a:hover{
	color: #209fed ;
	border-left: 3px solid #209fed;
	padding-left: 10px;
}

.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 9;
}

.banner > span{
	position: absolute; 
	top: 50%; 
	background: no-repeat center center; 
	width: 60px; 
	height: 75px; 
	margin-top: -60px;
	z-index:99999; 
	cursor:pointer;
	opacity: 0.5;
	transition: opacity 300ms linear;
}

.banner > span:hover{
	opacity: 1;
}

.banner > span.last{
	left: 0;
	background: url(../images/prev_next.png) no-repeat 0 -72px;
}

.banner > span.lower{
	right: 0;
	background: url(../images/prev_next.png) no-repeat 0 0
}

.banner > img{
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	opacity: 0;
	cursor: pointer;
}

.banner > img[oper='asyn']{
	min-height: 385px;
	width: 100%;
	padding-left: 48%;
	padding-right: 48%;
	padding-top: 160px;
	padding-bottom: 160px;
	background-color:#000;
}

.banner > *{
	position: absolute;
	cursor: pointer;
}

.banner > .active{
	position: static;
	opacity: 1;
}


.content > div > h2{
	padding: 50px 0;
	text-align: center;
}

.content > div > h2 > span{
	width: 175px;
	height: 106px;
	display: block;
	margin: 0 auto;
	background: url(../images/zha.png) no-repeat;
}

.content > div > h2 > span.h1{
	background-position:-213px -5px;	
}

.content > div > h2 > span.h2{
	background-position:-213px -137px;	
}

.content > div > h2 > span.h3{
	background-position:-213px -255px;	
}

.p3,.p1{
	background: #f4f4f4 url(../images/h1_bg.jpg) no-repeat center top; 
}

.p1 > ul, .p2 > ul, .p3 > ul{
	margin: 0 auto;
	width: 800px;
	width: 770px;
	padding-bottom: 45px;
}

.p1 > ul > li, .p2 > ul > li, .p3 > ul > li{
	float: left;
	font-size: 21px;
	color: #3f3f3f;
	text-align: center;
	overflow: hidden;
}

.p3 > ul > li{
	max-width: 280px;
	max-height: 234px;
}

.p3 > ul > li:nth-child(2){
	max-width: 380px;
}

.p1 > ul > li:nth-child(2){
	padding: 0 150px;
}

.p1 > ul > li > div{
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}

.p1 > ul > li > div > a{
	position:absolute;
	left: 0;
	top: 0;
	display: block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	background-color: #6d7075;
	border-radius: 50%;
	margin: 0 auto 10px;
	transition: top 300ms linear;
}

.p1 > ul > li > div > a:nth-child(2){
	top: 150px;
	background-color: #3ab4ff;
}

.p1 > ul > li > div:hover > a:nth-child(1){
	top: -150px;
}

.p1 > ul > li > div:hover > a:nth-child(2){
	top: 0;
}

.p1 > ul > li > div > a > span{
	display: inline-block;
	width: 101px;
	height: 85px;
	vertical-align: middle;
	background: url(../images/zha.png) no-repeat;
	background-position-x: 4px;
}

.p1 > ul > li > div > a > span.home_pro_1{
	background-position-y: 0;
}

.p1 > ul > li > div > a > span.home_pro_2{
	background-position-y: -113px;
}

.p1 > ul > li > div > a > span.home_pro_3{
	background-position-y: -238px;
	height: 106px;
}

.p2 > ul > li > a > p > img{
	vertical-align: middle;
}

.p2 > ul > li{
	color: #fff;
	min-width: 280px;
	min-height: 195px;
}

.p2 > ul > li > a > p{
	min-height: 195px;
	min-width: 100%;
	text-align: center;
}


.p2 > ul > li:nth-child(2){
	margin: 0 50px;
}

.p2 > ul{
	width: 940px;
}

.p2 > h1{
	padding: 60px 0 40px;
}

.p2{
	background: #2f9ce6 url(../images/h2_bg.jpg) no-repeat center top; 
}




.p3 > ul > li:nth-child(2){
	padding: 0 50px;
}

.p3 > ul{
	width: 940px;
	padding-bottom: 35px;
}

.p2 > ul > li > a > div{
	opacity: 0.8;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 100%;
	z-index: 99;
	transition: opacity 300ms linear, top 300ms linear;
	padding-top: 5px;
	top: 80%;
}

.p3 > ul > li > a, .p2 > ul > li > a{
	text-decoration: none;
	position: relative;
	display: block;
	overflow: hidden;
}

.p3 > ul > li > a > img, .p2 > ul > li > a > img{
	display: block;
}

.p2 > ul > li > a > div > h4{
	color: #fff;
	font-size: 21px;
	padding-bottom: 15px;
}

.p2 > ul > li > a > div > p{
	color: #fff;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}

.p2 > ul > li > a:hover > div{
	opacity: 1;
	top: 0;
}


.p3 > ul > li > a{
	/*height: 196px;*/
}

.p3 > ul > li > a > div{
	width: 280px;
	height: 195px;
	overflow: hidden;
}

.p3 > ul > li > a img{
	transition: all 500ms ease;
	width: 100%;
	display: block;
}

.p3 > ul > li > a img[oper='asyn']{
	width: auto !important;
	margin: 20px auto !important;
}

.p3 > ul > li > a:hover img{
	width: 140%;
	margin-left: -20%;
	margin-top: -20%;
}

.p3 > ul > li > a > h4{
	background-color: #69F;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.p4{
	background-color: #e6e8e9;
	padding-bottom: 40px;
}

.content > div > .ts{
	font-size: 21px;
	color: #272727;
	padding: 20px 0 15px;
	font-weight: normal;
}

div > .ts > p{
	width: 270px;
	color: #999999;
	font-size: 12px;
	margin: 0 auto;
	position: relative;
	margin-top: 5px;
}

div > .ts > p:after{
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	background-color: #c9c9c9;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 0;
}

div > .ts > p > span{
	padding: 0 10px;
	background-color: #e6e8e9;
    position: relative;
    z-index: 9;
}

.gywm{
	width: 830px;
	margin: 15px auto
}

.gywm > div:nth-child(1){
	float: left;
	width: 58%;
	padding-left: 5%;
}

.gywm > div:nth-child(2){
	float: left;
	width: 42%;
}


.gywm > div > p{
	font-size: 14px;
	color: #272727;
	line-height: 30px;
}

.gywm > div > a{
	color: rgb(130, 130, 130);
}


/*
.p4 > div{
	font-size: 14px;
	color: #272727;
	line-height: 25px;
	text-align: center;
	padding-bottom: 10px;
}

.p4 > ul{
	width: 880px;
	margin: 0 auto
}

.p4 > ul > li{
	float: left;

}

.p4 > ul > li:nth-child(2){
	margin: 0 20px;
}*/

.p5{
	background-color: #f4f4f4;
	padding-bottom: 30px;
}

.p5 > .ts > p > span{
	background-color: #f4f4f4
}

.p5 > p{
	text-align: center;
	color: #272727;
	font-size: 14px;
}

.p5 > .layout{
	width: 930px;
	margin: 0 auto;
	padding-top: 10px;
}

.lx{
	float: left;
	width: 50%;
}

.lx > div:nth-child(1){
	border: 1px solid #ebebeb;
	background-color: #fff;
	padding: 5px;
	width: 140px;
	float: left;	
}

.lx > div:nth-child(1) > img{
	display: block;
	width: 100%;
}

.lx > div:nth-child(1) > p{
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	padding: 7px 0;
}

.lx > div:nth-child(2){
	float: left;
	padding-left: 25px;
	width: 300px;
}

.lx > div:nth-child(2) > p{
	background: url(../images/h5_3.png) no-repeat;
	padding-left: 105px;
	color: #666;
	font-size: 14px;
	margin-bottom: 14px;
	position: relative;
}

.lx > div:nth-child(2) > p:nth-child(1){
	background-position: 0 1px;
}

.lx > div:nth-child(2) > p:nth-child(2){
	background-position: 0 -32px;
}

.lx > div:nth-child(2) > p:nth-child(3){
	background-position: 0 -96px;
}

.lx > div:nth-child(2) > p:nth-child(4){
	background-position: 0 -128px;
}

.lx > div:nth-child(2) > p:nth-child(5){
	background-position: 0 -163px;
}


.lx > div:nth-child(2) > p > label{
	position: absolute;
	left: 35px;
	top: 0;
	height: 100%;
	width: 70px;
}

.dt{
	float: right;
	width: 40%;
}

.dt > img{
	border: 1px solid #e8e7e7;
}

.footer > div{
	background-color: #31a0e8;
	padding: 20px 0;
}

.footer > div > ul {
	width: 320px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	margin: 0 auto;
}

.footer > div > ul > li{
	float: left;
	padding: 0 10px;
}

.footer > p{
	background-color: #1c1b29;
	color: #fff;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
}


.e_nav{
	padding: 10px 80px;
	background-color: #F7F7F7;
	overflow: hidden;
	position: relative;
}


.e_nav > div{
	margin: 0 auto;
	width: 540px;
	transition: margin-left 300ms ease;
}

.info > div img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
}

.info > div img[oper='asyn']{
	width: auto !important;
	height: auto !important;
}

.e_nav > div a{
	float: left;
	padding: 10px;
	padding-left: 50px;
	max-width: 190px;
}

.e_nav > div a > span{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/icon.png) no-repeat;
}

.e_nav > div a.active p{
	color: #3DB5FF
}

.e_nav > div a:nth-child(1){
	padding-left: 0;
}

.e_nav > div a > img{
	height: 45px;
	width: 45px;
	display: block;
	margin: 0 auto;
}

.e_nav > div a > p{
	padding-top: 5px;
	color: #808080;
	font-size: 14px;
	text-align: center;
}

.info-content{
	display: block;
	width: 1220px; 
	margin: 30px auto 0;
}

.info-content > .info{
	float: left;
	width: 100%;
}

.info-content > .info > h2{
	margin-top: 40px;
	font-size: 40px;
	color: #32A1E5;
	margin-bottom: 25px;
	text-align: left;
	font-family: "宋体";
	padding-left:20px;
	position: relative;
	padding-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid rgb(225, 225, 225);
}

.info-content > .info > h2:after{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 10px;
	background-color: #32A1E5;
	height: 100%;
	margin-top: -10px;
}

.info-content > .info > h2 > p{
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 0;
	color: rgb(152,152,152);
	font-family: "Microsoft YaHei";
	font-weight: normal;
}

.info-content > .info > h2 > p > a{
	font-size: 16px;
	color: rgb(152,152,152);
	font-family: "Microsoft YaHei";
	font-weight: normal;
}

.info-content > .info > h2 > p > a:hover{
	color: rgb(50, 161, 229);
}

.info-content > .info > div > h3{
	color: #32A1E5;
	font-size: 22px;
	padding-bottom: 5px;
	font-weight: normal;
}

.info-content > .info > div{
	font-size: 16px;
	line-height: 30px;
	color: #424242;
	padding-bottom: 75px;
}

.info-content > .info > div > p{
	list-style: upper-latin;
	text-indent: 2em;
}


.dir_info{
	position: fixed;
	width: 20%;
	left: 0;
	top: 30px;
	width: 20%;
	left: 64px;
	transition: all 300ms ease;
}


.fix > a,.dir_info > a{
	color: #444;
	display: block;
	padding-bottom: 5px;
	padding-left: 10px;
	border-left: 4px solid #444;
	font-size: 14px;
	line-height: 25px;
	transition: all 300ms ease;
}


.fix > a:hover,.dir_info > a:hover{
	color: rgb(50, 161, 229);
	padding-left: 20px;
	border-left-color:  rgb(50, 161, 229);
}

.dir_info > a.__active,.fix > a.__active{
	color: rgb(50, 161, 229);
	padding-left: 20px;
	border-left-color:  rgb(50, 161, 229);
}



.e_nav > a{
	position: absolute;
	top: 20px;
	opacity: 0.6;
	transition: opacity 300ms ease;
	width: 60px;
	height: 75px;
}

.e_nav > a:hover{
	opacity: 1;
}

.e_nav > a.prev{
	left: 0;
	background: url(../images/prev_next.png) no-repeat 16px -72px;
}

.e_nav > a.next{
	right: 0;
	background: url(../images/prev_next.png) no-repeat;
}

.e_nav .layout{
	transition: margin-left 300ms ease;
}

.e_nav > div a > span#pro1{
	background-position: -18px 0;
}

.e_nav > div a > span#pro2{
	background-position: -18px -58px;
}

.e_nav > div a > span#pro3{
	background-position: -18px -116px;
}

.e_nav > div a > span#pro4{
	background-position: -18px -174px;
}


.e_nav > div a > span#pro5{
	background-position: -18px -232px;
}


.e_nav > div a > span#pro6{
	background-position: -18px -290px;
}


.e_nav > div a > span#pro7{
	background-position: -18px -337px;
}


.e_nav > div a > span#pro8{
	background-position: -18px -385px;
}


.e_nav > div a > span#pro9{
	background-position: -18px -435px;
}


.e_nav > div a > span#pro10{
	background-position: -18px -482px;
}


.e_nav > div a > span#pro11{
	background-position: -18px -529px;
}


.e_nav > div a > span#pro12{
	background-position: -18px -571px;
}

.e_nav > div a > span#pro13{
	background-position: -18px -617px;
}

.e_nav > div a > span#pro14{
	background-position: -18px -677px;
}


.e_nav > div a > span#pro15{
	background-position: -18px -722px;
}


.e_nav > div a > span#pro16{
	background-position: -18px -772px;
}

.e_nav > div a > span#pro17{
	background-position: -18px -821px;
}


.e_nav > div a > span#pro18{
	background-position: -18px -875px;
}

.e_nav > div a > span#pro19{
	background-position: -18px -926px;
}

.canp{
	padding-bottom: 40px !important;
	border-bottom: 1px solid rgb(230, 230, 230);
	margin-bottom: 20px;
}

.rimg{
	position: relative;
	overflow: hidden;
	padding-right: 50%
}

.rimg > img{
	position: absolute;
	width: 48%;
	right: 0;
	top: 0;
	padding-top: 0 !important;
}

.dimg > img{
	width: 48%;
	margin-left: 1% !important;
	display: inline !important;
}